@page "/"
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<PageTitle>Nameplate Generator</PageTitle>

<SfAppBar ColorMode="AppBarColor.Light">
    <span style="font-weight: 600">Nameplate Generator</span>
</SfAppBar>

<div>
    <a href="/scalar">Reference</a>
</div>