@using Radzen
@using Radzen.Blazor
@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="16">
            <div style="height: 50px;"></div>
            <RadzenLabel Text="Nameplate Generator"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>
